@mixin thing {
  @content;
}

@mixin what {
  background: blue;
}

body {
  background: bisque;
}

h3 {
  @include what();
  display: none;
  flex-direction: row;
  margin: 0;

  @include thing() {
    background: none;
  }
}

p {
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    content: '';
  }
}

@import '~@/js/components/app';
