.testing {
  position: relative;
  background-image: url('test_nested.png');

  &:after {
    content: '';
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('~@/img/test_nested.png');
    transform: rotate(20deg);
  }
}